DATABASE_URL="mysql://username:password@host-adress:port-number/database_name"

PORT=YOUR PORT NUMBER SHOULD BE HERE!

TYPEORM_CONNECTION= DATABASE_TYPE
TYPEORM_HOST= YOUR HOST NUMBER
TYPEORM_USERNAME= USERNAME
TYPEORM_PASSWORD= YOUR PASSWORD
TYOEORM_DATABASE= YOUR DATABASE
TYPEORM_PORT= YOUR PORT NUMBER
TYPEORM_LOGGING= TRUE

ALGORITHM= ALGORITHM
JWT_EXPIRES_IN= 9d
JWT_SECRET= very-long-secret
SALT_ROUNDS=SALT ROUNDS